<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tornado Chat Demo</title>
</head>
<body>
<div id="body">
   <p>Chat Rome</p>
   <div id="index">
    {% for message in messages %}
      {% module Template("message.html",message=message) %}
    {% end %}
   </div>
   <div id="input">
       <form action="/a/message/new" method="post" id="messageForm">
       <table>
          <!-- <th>Chat</th> -->
          <tr>
            <td><input type="text" name="body" id="message" style="width:50px"></td>
            <td style="padding-left:5px>
            <input type="submit" value="{{_("Post")}}">
            <input type="hidden" name="next" value="{{request.path}}">
            {% module xsrf_form_html() %}
            </td>
          </tr>
          <tr><button type="button">Send</button></tr>
       </table> 
   </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery//3.1.0/jquery.min.js" type="text/javascript"></script>
<script src="{{static_url("chat.js")}}" type="text/javascript"</script>
</body>

</html>
